{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
  <h5 class="title">Campaign overview</h5>
  <div class="d-flex flex-row">
    {% if campaign.current_ancient.name %}
    <div class="col-md-9 col-9">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{campaign.current_ancient.image_url}}" class=""
                 alt="Eldritch is {{ campaign.current_ancient.name }}"
                  style="width: 100%; height: 100%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ campaign.current_ancient.name }}</h5>
              <p class="card-text">{{ campaign.current_ancient.prelude.name }}</p>
              {% if campaign.next_ancient %}
              <p class="card-text">{{ campaign.next_ancient.prelude.name }}</p>
              {% else %}
              <p class="card-text">Into the rift</p>
              {% endif %}
              <p class="card-text"><small class="text-muted">Current</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if campaign.next_ancient %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{campaign.next_ancient.image_url}}" class="img-fluid rounded-start"
                 alt="Eldritch is {{ campaign.next_ancient.name }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ campaign.next_ancient.name }}</h5>
              <p class="card-text"><small class="text-muted">Next</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% if campaign.current_ancient %}
    <div class="col-md-3 col-3 justify-content-end">
      <div class="content-section">
        <h3>Campaign menu</h3>
        <p class='text-muted'>Manage your game
        <div class="d-flex flex-column">
          <form action="{{ url_for('campaigns_by_id', campaign_id=campaign.id) }}" method="POST">
            <button class="btn btn-outline-success mb-2 col-12 {{ 'disabled' if campaign.state.value != 'in progress' }}" name="action" value="defeat">Defeat current
            </button>
            <button class="btn btn-outline-secondary mb-2 col-12" type="button"> ???</button>
            <button class="btn btn-outline-danger mb-2 col-12 {{ 'disabled' if campaign.state.value != 'in progress' }}" name="action" value="lose">Lose game</button>
          </form>
        </div>
        </p>
      </div>
    </div>
    {% endif %}
  </div>


  <div class="row row-cols-2 row-cols-md-3 g-4">
    {% for ancient in defeated_ancients %}
    <div class="col-2">
      <div class="card w-100" style="width: 10rem">
        <img src="{{ ancient.image_url }}" class="img-fluid card-img-top" alt="{{ ancient.name }}">
        <div class="card-header">{{ loop.revindex }}. {{ ancient.name }}</div>
        <div class="card-body">
          <!--      <p class="card-text">Text for dead investigators, destroyed cities etc.</p>-->
          <p class="card-text">
            <small class="text-muted">Defeated</small>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}