{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            {% for campaign in campaigns %}
            <div class="card
            {{ 'border-success' if campaign.state.value == 'won' }}
            {{ 'border-secondary' if campaign.state.value == 'in_progress' }}
            {{ 'border-danger' if campaign.state.value == 'lost' }} mb-3">
                <div class="card-header">
                    {{ 'Victory' if campaign.state.value == 'won' }}
                    {{ 'Defeat' if campaign.state.value == 'lost' }}
                    {{ 'In progress' if campaign.state.value == 'in progress' }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Campaign #{{ loop.revindex }}</h5>
                    {% if campaign.state.value == 'won' %}
                    <p class="card-text">All 6 ancients were defeated </p>
                    {% elif campaign.state.value == 'lost' %}
                    <p class="card-text">Players beaten by {{ campaign.current_ancient.name }}</p>
                    {% else %}
                    <p class="card-text">Current is {{ campaign.current_ancient.name }}</p>
                    {% endif %}
                    <a href="/campaigns/{{campaign.id}}" class="btn btn-info">Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-3">
            <div class="content-section">
                <h3>Campaigns page</h3>
                <p class='text-muted'>Here you can overview your games
                <div class="d-flex flex-column">
                    <form action="" method="POST">
                        <button class="btn btn-outline-secondary mb-2 col-12" name="test" value="test">Create new
                        </button>
                        <button class="btn btn-outline-secondary mb-2 col-12" type="button">Random game</button>
                        <button class="btn btn-outline-secondary mb-2 col-12" type="button">Test</button>
                    </form>
                </div>
                </p>
            </div>
        </div>
    </div>
    <form method="POST">
        <button type="submit"> Create Campaign</button>
    </form>
</div>
{% endblock content %}